{#
/**
 * @file
 * Theme override to present all user data.
 *
 * This template is used when viewing a registered user's page,
 * e.g., example.com/user/123. 123 being the user's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.field_example'. Fields attached to a user
 *   such as 'user_picture' are available as 'content.user_picture'.
 * - attributes: HTML attributes for the container element.
 * - user: A Drupal User entity.
 *
 * @see template_preprocess_user()
 */
#}

{%
  set wrapper_classes = [
    'user-account-wrapper',
  ]
%}

<article{{ attributes.addClass(wrapper_classes) }}>

  <div class="user-account-data user-account-column">
    {% if content %}
      {{- content|without('moderation_notifications') -}}
    {% endif %}
  </div>

  <div class="user-account-notifications user-account-column">
{{ content.moderation_notifications }}
  </div>
</article>
