.paragraph--type--search-section {
  position: relative;
  padding: 6rem 0;
  text-align: center;

  min-height: 65vh;
  display: flex;
  align-items: center;

  form {
    position: relative;
    max-width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .search-icon-button {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-color: transparent;
    border: none;
    padding: 0 10px;

    svg {
      width: 24px;
    }
  }
}