
.view-financial-services {


  margin-bottom: 4rem;

  .views-rows-group-wrapper {
    background: #e7f6fc;
    margin-bottom: 4rem;
    padding: 1rem;

    .views-rows-group-title {
      padding-left: 1rem;
      margin-bottom: 1rem;
    }


    .views-row {
      margin-bottom: 1rem;
    }
  }

  .zdocs-document {
    ul {
      li {
        list-style-type: none;
        display: inline-block;
      }
    }

    .zdocs-documents-description {
      margin-bottom: 0.5rem;
    }
  }
}