.cmm-li--level-1.active .cmm-ul {
  display: flex;
}

.cmm-li--level-1 {
  position: relative;
}

.menu-item--level-2 {
  display: inline-block;
}

.cmm-ul--level-2 {
  left: 50%;
  transform: translateX(-50%);
}

.cmm-column--level-2 {
  min-width: 150px;
}

.cmm-ul--level-3 {
  border-top: 1px solid #ddd;
}