.region--admin-content {
  background-color: #0f0f0f;
  
  ul {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;

    li {
      a {
        padding: 10px 20px;
        color: white;
        display: inline-block;

        &.is-active {
          background-color: rgb(85, 85, 85);
        }
      }
    }
  }

  .alert {
    margin-bottom: 0;
    border-radius: 0;
  }
}