footer.new-footer {
  background-color: $white;
  padding: 80px 0;

  // Grid Overrides
  @media screen and (max-width: 1199px) {
    div[class*="col"] {
      margin-bottom: 60px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  // Block
  .block {
    h2 {
      color: $charcoal;
      white-space: nowrap;
      letter-spacing: 1px;
      margin-bottom: 24px;
      font-size: 18px;
      @media screen and (max-width: 768px) {
        font-size: 16px;
      }
    }

    p {
      color: $charcoal;
      line-height: 1.2;
      letter-spacing: 0.5px;
      margin-bottom: 0;
      font-size: 14px;
      @media screen and (max-width: 768px) {
        font-size: 12px;
        max-width: 280px;
      }
    }
  }

  // Image Block
  .footer-area6,
  .region--footer-six {
    height: 100%;
  }
  .block--image-block {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  // block contact us overrides
  #block-contactus {
    p {
      margin-bottom: 10px;
    }

    a {
      color: $gray;
    }
  }

  nav ul {
    display: flex;
  }

  nav li {
    padding: 0 7.5px;
  }
}
