@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
.layout-container {
  position: relative;
  overflow: hidden;
}
body{
  font-family: 'tahoma';
  .btn{
    font-family: 'Oswald', sans-serif;
    border-radius: 1.25rem;
    padding: 3px 20px;
    .text{
      margin-top: 2px;
      display: inline-block; 
    }
  }
}
body.no-hero:not(.path-node):not(.path-frontpage) .layout-container {
  //padding-top: 70px;

  .layout-content{
    min-height: 500px;
  }
  .header-content {
    a,
    svg {
      color: black;
    }

    input {
      color: black;
      border-color: black;
    }
  }
}

main ol {
  padding-left: 16px;
  li {
    list-style: decimal;
    padding-left: 4px;
  }
}
main ul {
  padding-left: 20px;

  li {
    list-style: disc;
  }
  li{
    //background: url("/themes/civic/images/waterdrop.png") no-repeat 0 5px;
    //padding-left: 20px;

  }
}
main .field-type--text-long{
    ul {
      padding-left: 0px;

      li {
        list-style: none;
      }
      li{
        background: url("/themes/civic/images/waterdrop.png") no-repeat 20px 8px;
        padding-left: 40px;

      }
    }
}
ol.breadcrumb {
  li {
    list-style: none;
  }
}

caption {
  caption-side: top;
  text-align: center;
}

/* This all ensures that the footer is at the boottom of small pages */
body {
  display: flex;
  flex-direction: column;
  color: $gray;
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    display: block;
  }
}

.dialog-off-canvas-main-canvas {
  flex: 1 0 0%;
  display: flex;
  flex-direction: column;

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    display: block;
  }
}

.layout-container {
  display: flex;
  flex-direction: column;
  flex: 1 0 0%;

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    display: block;
  }

  & > main {
    flex: 1 0 0%;
  }
}
.layout-content .field-name--body{
  min-height: 400px;
}
.btn-primary {
    color: #fff !important;
  }
