
.paragraph--type--bg-image-section{
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
  clear: both;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
  color: $primary-color;
  }
  @media screen and (max-width: 768px) {
    // background-size: 100% 100%;
    // padding-bottom: 0 !important;
    background: none !important;
    padding-bottom: 0;
  }
  .small-screen{
    display: none;
    @media screen and (max-width: 768px) {
      display: block;
      width: 100%;
      margin-top: -100px;
      box-shadow: 137px 120px 1200px #fff inset;
      z-index: -1;
      position: relative;
      img{
        width: 100%;
        height: auto;
      }
    }
  }
  .container{
  @media screen and (max-width: 768px) {
      margin-top: -135px;
    }
    @media screen and (max-width: 600px) {
        margin-top: 0;
      }
  }
  .field-type--text-long{
    width: 50%;
    padding: 75px 0;
    @media screen and (max-width: 1024px) {
      padding: 0px 0 25px 0;
    }
    @media screen and (max-width: 768px) {
    //  margin: 61px auto 0 auto;
      width: 100%;
    }
    @media screen and (max-width: 760px) {
      //width: 70%;
    }
    @media screen and (max-width: 760px) {
      width: 100%;
    }
    h2,h1,h3{
      color:$primary-color;
      font-weight: normal;
      font-size: 35px;
      @media screen and (max-width: 1000px) {
        text-align: center;
        font-size: 20px;
        letter-spacing: 0;
      }
    }
    p{
      color: $gray;
      font-size: 16px;
      @media screen and (max-width: 1024px) {
        font-size: 16px;
      }
      @media screen and (max-width: 768px) {
        a{
          display: block;
          width: 60%;
          margin: 0 auto;;
        }
      }
    }
    .btn.btn-primary{
      font-weight: normal;
      padding: 6px 30px;
      font-size: 22px;
      border-radius: 25px;
      @media screen and (max-width: 768px) {
        font-size: 14px;
      }
    }
    .btn.btn-primary:hover{
      text-decoration: underline;
    }
  }
  &.shadow-text {
    @media screen and (max-width: 750px) {
      margin-top: -52px;
    }
    margin-top: -20px;
  }
}
.paragraph--type--bg-image-section.bg-shadow-left{
  .field-type--text-long{
    float: right;
  }
}
