.paragraph--type--text-w-menu{
  padding-top: 3rem;

  h1,h2,h3,h4{
    font-weight: normal;
    color: $primary-color;

  }
  p{
    strong{
      color: $primary-color;
      font-size: 17px;
    }

  }
  p,li{
    font-size: 16px;
    line-height: 27px;
  }
  a{
    color: $primary-color;

  }
  a:hover{
    text-decoration: underline;

  }
  a.btn{
    text-decoration: none;
    color: inherit;
  }

  ul, ol{
    margin-bottom: 1rem;
  }

  .field-name--field-menu-items {
    a{

      font: normal normal normal 16px/29px Verdana;
      color: #565659;

    }
    a:hover{

      text-decoration: none;
      color: #fff;

    }

    &>div {
      &:hover {
        background-color: #004A87;
        cursor: pointer;
        a {
          color: #fff;
        }
      }
    }
  }
  .paragraph--type--menu{
    background: #F8F8F8;
    border-radius: 33px;
    box-shadow: 0 0 12px #ccc;
    padding: 24px 0;
    .field-name--field-latitude{
      color: $primary-color;
      font-family: 'Oswald', sans-serif;
      font-size: 25px;
      padding: 0 25px;
      letter-spacing: 1px;
    }

    .field-name--field-menu-title{
      color: $primary-color;
      font-family: 'Oswald', sans-serif;
      font-size: 25px;
      padding: 0 25px;
      letter-spacing: 1px; 

      font: normal normal bold 28px/35px 'Bebas Neue';
      letter-spacing: 0.8px;

    }
    .field-type--link {
      div{
        padding: 7px 25px;
        a{
          color: $gray;
          text-decoration: none;
          font-size: 15px;
        }
      }
      div:hover{
        background: $primary-color;
        a{
          color: white;
          text-decoration: none;
        }
      }
    }
  }

  img {
    border-radius: 12px;
  }
}
