.paragraph--type--views-embed {
  padding-bottom: 6rem;
  padding-top: 3rem;
  &.one-column {

    &>.field {
      &>div {
        width: 100%;

      }
    }
  }

  &.two-columns {

    &>.field {
      display: flex;
      flex-wrap: wrap;
      &>div {
        width: 48%;
        margin-right: 4%;

        &:nth-child(2n+2) {
          margin-right: 0;
        }

        @media (max-width: 768px) {
          width: 100%;
          margin-right: 0;
        }
      }
    }
  }

  .view-display-id-newsletters_current {
    .views-row {
      background: #f1f1f1;
      padding: 10px;
      border-radius: 10px;

      .views-field-nothing {
        .row {
          margin-left: 0;
          margin-right: 0;

          &.row-current-issue-title {
            margin-bottom: 0.5rem; 
          }
        }

        h3 {
          color: #000;
          font-weight: normal;
        }

        .newsletter-body {
          margin-bottom: 1rem;
          color: #000;
        }

        .newsletter-file {
          margin-bottom: 1rem;
        }
      }
    }
  }

  .view-display-id-newsletters_thisyear, .view-display-id-newsletters_past {
    .views-field-title {
      a {
        color: #000;
        text-decoration: underline;
      }
    }

    .views-row {
      margin-bottom: 2rem;
      position: relative;

      &:after {
        position: absolute;
        width: 300px;
        height: 1px;
        left: calc(50% - 150px);
        background: #f1f1f1;
        content: "";
        bottom: -1rem;
      }

      &:last-child {
        margin-bottom: 1rem;
        &:after {
          display: none;
        }
      }
    }
  }
}

.view-events {
  .subgroup-title {
    font-family: tahoma;
    font-weight: bold;
    color: #989898;
    font-size: 20px;
  }

  dd {
    padding-left: 10px  !important;
  }

  .subgroup-rows {
    @media only screen and (min-width: 200px) and (max-width: 790px)  {
      .views-row {
        display: flex;
         }
      }

      @media only screen and (min-width: 791px) and (max-width: 4000px)  {
        .views-row {
          display: -webkit-box;
           }
        }

    .views-row {
      // display: flex;

      .views-field-title {
        color: #000;
        font-weight: bold;
      }

      .views-field-field-event-files {
        ul {
          display: flex;
          flex-wrap: wrap;
          li {
            list-style-type: none;
            padding-right: 10px;
            &:before {
              content: "|";
              display: inline-block;
              margin-right: 10px;
            }

            a {
              color: #0fb2e2;
            }
          }
        }
      }
    }
  }
}
[data-drupal-selector="views-exposed-form-events-events-search"] {
  display: flex;
  flex-wrap: wrap;
  .js-form-item {
    width: 33.33%;
    padding-right: 5px;
    &:nth-child(3) {
      padding-right: 0;
    }

    @media (max-width: 768px) {
      width: 100%;
      padding-right: 0;
    }

    input {
      margin-top: 0;
      height: 40px;
    }
  }
}

.view-id-events.view-display-id-events_search {
  .views-rows {
    display: flex;
    flex-wrap: wrap;
    .views-row {
      width: 32%;
      margin-right: 2%;
      margin-bottom: 1.5rem;
      &:nth-child(3n+3) {
        margin-right: 0;
      }

      @media (max-width: 768px) {
        width: 100%;
        margin-right: 0;
      }

      .card {
        background-color: transparent;
        box-shadow: none;
        border: none;
        border-radius: 0;
      }

      .card-body {
        padding: 0;
      }

      .card-title {
        padding: 15px;
        color: #fff;
        font-family: tahoma;
        font-style: normal;
        font-weight: bold;

        background: #004a87;
        margin-bottom: 0;
        border-radius: 10px 10px 0 0;
        font-size: 18px;

        &.gray {
          background: #828282;
        }

        &.green {
          background: #91a322;
        }
      }

      .card-bottom {
        border-bottom: 2px solid #004a87;
        border-right: 2px solid #004a87;
        border-left: 2px solid #004a87;
        border-radius: 0 0 10px 10px;
        padding: 15px;
        text-align: center;

        p {
          text-align: left;
        }
      }
    }
  }
}

.view-id-events.view-display-id-block_2 {
  .card {
    background-color: transparent;
    box-shadow: none;
    border: none;
    border-radius: 0;
  }

  .card-body {
    padding: 0;
  }

  .card-title {
    padding: 15px;
    color: #fff;
    font-family: tahoma;
    font-style: normal;
    font-weight: bold;

    background: #004a87;
    margin-bottom: 0;
    border-radius: 10px 10px 0 0;
    font-size: 18px;

    &.gray {
      background: #828282;
    }

    &.green {
      background: #91a322;
    }
  }

  .card-bottom {
    border-bottom: 2px solid #004a87;
    border-right: 2px solid #004a87;
    border-left: 2px solid #004a87;
    border-radius: 0 0 10px 10px;
    padding: 15px;
    text-align: center;

    p {
      text-align: left;
    }
  }
}

.view-id-events {
  .owl-wrapper {/*
    display: flex;

    .owl-item {
      &>.col-12 {
        height: 100%;

        &>.views-field-nothing {
          height: 100%;

          &>.field-content {
            height: 100%;

            &>.card {
              height: 100%;
            }
          }
        }
      }
    }*/
  }


}