.node-hero-image {
  height: 600px;
  @include bgCover;
}

.news-article-wave {
  width: 100%;
  height: 100%;
}

#block-civic-breadcrumbs {
  a {
    color: #004179;
  }
}



.page-node-type-news-article {
  .layout-content .field-name--body {
    min-height: 0;
  }

  h1 {
    span {
      color: #195386;
    }
  }
}


.view-id-news {
  header {
    h2 {
      color: #195386;
    }
  }

  .pager__items {
    display: flex;
    justify-content: center;
    li {
      list-style-type: none;
      padding-left: 5px;
      padding-right: 5px;
      a {
        color: #004179;
        font-weight: bold;
      }
    }
  }

  .owl-wrapper {
    display: flex !important;
  }

  .views-row-wrapper {
    padding-right: 15px;
    padding-left: 15px;
    .views-row {
      border: 1px solid #707070;
      border-radius: 15px;
      padding-left: 0;
      padding-right: 0;
      overflow: hidden;
      position: relative;
      padding-bottom: 60px;
      height: 100%;
      .views-field-created {
        padding-top: 5px;
        padding-right: 10px;
        padding-left: 10px;
        font-size: 13px;
      }

      .views-field-title {
        padding-top: 5px;
        padding-right: 10px;
        padding-left: 10px;
        a {
          color: #004179;
          line-height: 1.1;
          font-weight: bold;
          display: block;
        }
      }

      .views-field-nothing {
        position: absolute;
        width: 100%;
        text-align: center;
        bottom: 15px;
      }
    }
  }
  .owl-item {
    padding-right: 15px;
    padding-left: 15px;
    &>.col-12 {
      border: 1px solid #707070;
      border-radius: 15px;
      padding-left: 0;
      padding-right: 0;
      overflow: hidden;
      position: relative;
      padding-bottom: 60px;
      .views-field-created {
        padding-top: 5px;
        padding-right: 10px;
        padding-left: 10px;
        font-size: 13px;
      }

      .views-field-title {
        padding-top: 5px;
        padding-right: 10px;
        padding-left: 10px;
        a {
          color: #004179;
          line-height: 1.1;
          font-weight: bold;
          display: block;
        }
      }

      .views-field-nothing {
        position: absolute;
        width: 100%;
        text-align: center;
        bottom: 15px;
      }
    }
  }
}

.region--related-content {
  padding-bottom: 6rem;
}

form[data-drupal-selector*="views-exposed-form-news-block-page-embed"] {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  input[type="date"] {
    height: 37px;
  }
  &>.form-item {
    width: 33%;
    padding-left: 15px;
    padding-right: 15px;

    @media (max-width: 1000px) {
      width: 100%;
      padding-left: 0;
      padding-right: 0;   
    }
  }
}

#ui-datepicker-div {
  z-index: 500 !important;
}

#block-breadcrumbs {

  .breadcrumbs-list {
    padding-left:  0;
    li {

      padding-left: 0;
      list-style-type: none;
      display: inline;
      &:before {
        content: ""; 
        background-image: url('/themes/civic/images/angle-right-solid.svg'); 
        display: inline-block;
        height: 12px;
        width: 6px;
        background-repeat: no-repeat;
        background-position: 0 2px;
        background-size: 6px 12px;

      }

      &:first-child {
        &:before {
          display: none;
        }
      }


    }
  }

}


#block-civic-breadcrumbs {

  .breadcrumbs-list {
    padding-left:  0;
    li {

      padding-left: 0;
      list-style-type: none;
      display: inline;
      &:before {
        content: ""; 
        background-image: url('/themes/civic/images/angle-right-solid.svg'); 
        display: inline-block;
        height: 12px;
        width: 6px;
        background-repeat: no-repeat;
        background-position: 0 2px;
        background-size: 6px 12px;

      }

      &:first-child {
        &:before {
          display: none;
        }
      }


    }
  }

}

.page-node-type-event {
  h1 {
    color: #195386;
    font-family: tahoma;
    font-weight: bold;
  }
  .event-location, .event-category {
    div.field {
      display: inline-block;
    }
    a {
      color: #195386;
    }
  }

  .event-documents {
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    h3 {
      font-family: tahoma;
      color: #195386;
      font-weight: bold;
    }
    
    .field-name--field-event-files {
      display: flex;
      &>div {
        padding-right: 5px;
        margin-right: 5px;
        border-right: 1px solid #666;
        &:last-child {
          border-right: none;
        }
      }
    }
  }
}